@media(max-width:768px){

    .countdown-card{

        padding:30px;

    }

    .countdown-card h1{

        font-size:30px;

    }

    .time-box{

        width:95px;
        height:120px;

    }

    .time-box h2{

        font-size:38px;

    }

    .countdown-message{

        width:100%;

    }

}